@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-md-4">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="col-md-6 col-md-offset-2">
            @* Pedir ao novo user que preencha os dados do utilizador *@
            <p><b>Recolha dos Dados do Utilizador</b></p>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Utilizador.Nome" class="control-label"></label>
                <input asp-for="Input.Utilizador.Nome" class="form-control" />
                <span asp-validation-for="Input.Utilizador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Utilizador.DataNasc" class="control-label"></label>
                <input asp-for="Input.Utilizador.DataNasc" class="form-control" />
                <span asp-validation-for="Input.Utilizador.DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Utilizador.Contacto" class="control-label"></label>
                <input asp-for="Input.Utilizador.Contacto" class="form-control" />
                <span asp-validation-for="Input.Utilizador.Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Utilizador.NIF" class="control-label"></label>
                <input asp-for="Input.Utilizador.NIF" class="form-control" />
                <span asp-validation-for="Input.Utilizador.NIF" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
