@model Hotel_IPT_App.Models.Reservas

@{
    ViewData["Title"] = "Edit";
    string selecionado = "";
}

<h1>Edit</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReserva" />
            <div class="form-group">
                <label asp-for="DataInicial" class="control-label"></label>
                <input asp-for="DataInicial" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NPessoas" class="control-label"></label>
                <input asp-for="NPessoas" class="form-control" />
                <span asp-validation-for="NPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserFK" class="control-label">@Html.DisplayNameFor(model => model.Cliente)</label>
                <input asp-for="UserFK" class="form-control" />
                <span asp-validation-for="UserFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Quartos</label>
                @foreach (Quartos item in ViewBag.ListaDeQuartos)
                {
                    if (Model.ListaQuartos.Contains(item)) { selecionado = "checked"; }
                    <br /> <input type="checkbox" value="@item.IdQuarto" name="QuartoEscolhido" @selecionado/> @item.Descricao
                    selecionado = "";
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
