@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Tecnologias da Internet II</h1>
    <h2>Curso: Engenharia Informática</h2>
    <h2>Ano letivo: 2020/2021</h2>
    <div>
        <p>Trabalho realizado por: Pedro Matias nº21089</p>
    </div>
    <div class="img">
        <img class ="capa" src="~/fotos/hotel.jpg" style="height: 350px; padding: 7px; background-color: #8aa5ff" />
    </div>
    <div class="text-right">
        <p>Login: aluno21089@ipt.pt</p>
        <p>Passe: 123Red#</p>
    </div>
</div>
